[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
biopython = "*"
flask = "*"
flask-wtf = "*"
requests = "*"
pandas = "*"
plotly = "*"
python-dotenv = "*"
flask-bootstrap = "*"
gunicorn = "*"
rq = "*"

[requires]
python_version = "3.7.5"
