[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
biopython = "*"
flask = "*"
flask-wtf = "*"
requests = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
plotly = "*"
beautifulsoup4 = "*"
jupyter = "*"
ipython = "*"
python-dotenv = "*"
flask-bootstrap = "*"

[requires]
python_version = "3.6"
