body {
    margin-left: 20px;
    font-family: Roboto, sans-serif;
}



ul {
  list-style-type: none;
  padding: 0;
}

.navbar {
    margin-left: -20px;
}

.navbar-brand {
  font-weight: bold;
  font-style: italic;
}
