{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">bio-pipelines</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('query') }}">Query</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('test') }}">Test</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
{% endblock %}
