{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Submit a search term</h1>
        {{ form.hidden_tag() }}
        <form action="{{ url_for('result') }}" method="post">
        <div>
            {{ form.query.label }}<br>
            {{ form.query(rows=8, cols=80, autocomplete="off") }}
            {% for error in form.query.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.have.label }}<br>
            {{ form.have }}
            {% for error in form.have.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.want.label }}<br>
            {{ form.want }}
            {% for error in form.want.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>{{ form.submit(class_="btn btn-primary") }}</div>
       </form>
</div>
{% endblock content %}
